* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* background-color:rgb(230, 71, 71); */
  background-color: black;
}

header nav {
  min-width: 100%;
  min-height: 7vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav .searchNav {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 2%;
  border: solid 1px white;
}

.searchNav input {
  height: 4vh;
  width: 60%;
  border:none;
}

.searchNav input:focus {
  outline: none;
}

.searchIcon {
  background-color: white;
  width: 6%;
  height: 4vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.MovieS {
  color: red;
}

.searchIcon img {
  width: 50%;
}

button {
  background-color: white;
  padding: 5.5px;
  border: none;
}

button:hover {
  background-color: gainsboro;
}

.infos {
  width: 25%;
  display: flex;
  flex-flow:  row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.change {
  background-color: transparent;
  color: white;
  font-size: larger;
} 

.change:hover {
  background-color: transparent;
  cursor: pointer;
  color: red;
  transition: all .5s ease;
}

/* section */

section{
  min-height: 93vh;
  display: flex;
  flex-flow:row wrap ;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  position: relative;
}

article {
  width: 90%;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
}

.MovieCard {
  border-radius:7px ;
  width: 23%;
  height: 68vh;
  margin-top: 2%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.MovieCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .3s ease;
}

.MovieCard  img {
  height: 85%;
  width: 100%;
  border-radius: 7px;
}

.MovieCard .linkV {
  text-decoration: none;
  font-size:medium;
  color: whitesmoke;
  background-color: red;
  width: 85%;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.linkV:hover{
  background-color: rgb(226, 29, 15);
  color: white;
  transition: all .5s ease;
}

/* welcom text */
.wel-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 5%;
  margin-top: 1.5%;
  margin-right: 0%;
}

.wel-text .cicon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 10%;
  /* border-right: solid 1.9px black; */
}

.cicon img {
  width: 23%;
}

.wel-text button {
  background-color: whitesmoke;
  border-radius: 6px; 
}

.wel-text button:hover {
  background-color: rgb(211, 203, 203);  
  transition: all ease .8s;
  cursor: pointer;
}

/* tranding div */
.tranding {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  /* border: solid 1px black; */
  width: 25%;
}

.tranding img {
  width: 8%;
}

.tranding div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  border: solid black 1px;
  border-radius: 10px;
}

.tranding button {
  width: 50%;
  border-radius: 10px;
}

.tranding .btn1 {
  background-color: rgb(211, 203, 203);  
}

/* movie infos */

.movieInfoWraper{
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 20%;
  left: 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.MovieInfos {
  position: absolute;
  z-index: 4;
  border-radius: 10px;
  width: 60%;
  height: 85%;
  background-color: whitesmoke;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 9px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.close {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
}

.close img {
  width: 5%;
  height: 95%;
}

.close img:hover {
  cursor: pointer;
}

.MovieInfos .imgDescription {
  width: 100%;
  height: 90%;
}

.imgDescription {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.imgDescription img {
  width: 35%;
  height: 100%;
}

.imgDescription .contentDescript {
  width: 50%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contentDescript div {
  width: 100%;
  height: 15%;
}

/* selects */

select{
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  width: 77%;
  height: 100%;
}